:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #4043ff;
    --white: #ffffff;
    --border: 0.1rem solid var(--white);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: var(--bg);
    padding-top: 90px;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 80px;
    background-color: var(--black);
    border-bottom: var(--border);

    display: flex;
    align-items: center;
}


.logo {
    position: absolute;
    left: 20px;
}

.logo img {
    width: 40px;
}

.botoes {
    margin: 0 auto;
    display: flex;
    gap: 20px;
}
.botao {
    padding: 10px 20px;
    background-color: var(--main-color);
    color: var(--black);
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s;
}
.btn:hover {
    background-color: var(--white);
}
